<div class="faq-container1">
  <div class="faq-container2">
    <div class="faq-section1">
      <div class="title">FAQ</div>
      <div class="info">Frequently Asked Questions Page</div>
    </div>
    <div class="faq-section2">
      <div ngbAccordion>
        <div ngbAccordionItem [collapsed]="false" class="accordingItem">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="accordingButton">
              <div class="px-3">An Important Question</div>
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class="accordingBody">
              <div class="px-3 leading-8">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div ngbAccordionItem [collapsed]="false" class="accordingItem">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="accordingButton">
              <div class="px-3">Another Important Question</div>
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class="accordingBody">
              <div class="px-3 leading-8">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div ngbAccordionItem [collapsed]="false" class="accordingItem">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="accordingButton">
              <div class="px-3">Your Favorite Question</div>
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class="accordingBody">
              <div class="px-3 leading-8">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </div>
            </div>
          </div>
        </div>
        <div ngbAccordionItem [collapsed]="false" class="accordingItem">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="accordingButton">
              <div class="px-3">The Final Question</div>
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class="accordingBody">
              <div class="px-3 leading-8">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
