<main class="navbar-container1">
  <main class="navbar-container2">
    <section class="navbar-section1">
      <h1>ADMINS</h1>
      <ng-icon name="bootstrapList" class="list" />
    </section>
    <section class="navbar-section2">
      <div class="img-container">
        <img src="../../../../assets/Images/img1.png" alt="Admin image" />
      </div>
      <h1 class="name">Abdulrahim Sakr</h1>
      <h3 class="role">VP Fancy Admin</h3>
    </section>
    <section class="navbar-section3">
      <a
        routerLink="/dashboard"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="solarHome" />
        <p>Dashboard</p>
      </a>
      <p class="title">Data</p>
      <a
        routerLink="/manage-team"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="solarUsersGroupRounded" />
        <p>Manage Team</p>
      </a>
      <a
        routerLink="/contacts-information"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="bootstrapPersonVcard" />
        <p>Contacts Information</p>
      </a>
      <a
        routerLink="/invoices-balances"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="solarDocumentsMinimalistic" />
        <p>Invoices Balances</p>
      </a>
      <p class="title">Pages</p>
      <a
        routerLink="/profile-form"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="solarUser" />
        <p>Profile Form</p>
      </a>
      <a
        routerLink="/calendar"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="solarCalendarMinimalistic" />
        <p>Calendar</p>
      </a>
      <a
        routerLink="/faq"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="solarQuestionCircle" />
        <p>FAQ Page</p>
      </a>
      <p class="title">Charts</p>
      <a
        routerLink="/bar-chart"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="solarChart" />
        <p>Bar Chart</p>
      </a>
      <a
        routerLink="/pie-chart"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="solarPieChart" />
        <p>Pie Chart</p>
      </a>
      <a
        routerLink="/line-chart"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="solarCourseUp" />
        <p>Line Chart</p>
      </a>
      <a
        routerLink="/goegraphy-chart"
        routerLinkActive="link-active"
        ariaCurrentWhenActive="page"
        class="link"
      >
        <ng-icon name="solarMap" />
        <p>Geography Chart</p>
      </a>
    </section>
  </main>
</main>
