<main class="dashboard-container1">
  <main class="dashboard-container2">
    <section class="dashboard-section1">
      <div class="msg">
        <div class="title">DASHBOARD</div>
        <P class="welcome">Welcome to your dashboard</P>
      </div>
      <button class="DWReports">
        <ng-icon name="solarDownloadMinimalistic" />
        <span>DOWNLOAD REPORTS</span>
      </button>
    </section>
    <div class="w-full h-fit">
      <app-sec2></app-sec2>
    </div>
    <div class="w-full h-fit">
      <app-sec3></app-sec3>
    </div>
    <div class="w-full flex-1">
      <app-sec4></app-sec4>
    </div>
  </main>
</main>
