<main class="manageTeam-container1">
  <main class="manageTeam-container2">
    <div class="manageTeam-section1">
      <div class="title">TEAM</div>
      <div class="info">Managing the team mempers</div>
    </div>
    <div class="manageTeam-section2">
      <div class="tableControls">
        <div class="columns" [matMenuTriggerFor]="columnsMenu">
          <ng-icon name="matViewColumn" />COLUMNS
        </div>
        <mat-menu #columnsMenu="matMenu" panelClass="my-custom-menu">
          <div class="columnsList" (click)="$event.stopPropagation()">
            <div class="columnsItem">
              <mat-slide-toggle [(ngModel)]="isIDVisable" color="primary">
                ID
              </mat-slide-toggle>
            </div>
            <div class="columnsItem">
              <mat-slide-toggle [(ngModel)]="isAgeVisable" color="primary">
                Age
              </mat-slide-toggle>
            </div>
            <div class="columnsItem">
              <mat-slide-toggle
                [(ngModel)]="isPhoneNumberVisable"
                color="primary"
              >
                PhoneNumber
              </mat-slide-toggle>
            </div>
            <div class="columnsItem">
              <mat-slide-toggle [(ngModel)]="isEmailVisable" color="primary">
                Email
              </mat-slide-toggle>
            </div>
            <div class="columnsItem">
              <mat-slide-toggle [(ngModel)]="isCityVisable" color="primary">
                City
              </mat-slide-toggle>
            </div>
          </div>
        </mat-menu>
        <div ngbDropdown class="">
          <button
            type="button"
            class="filters"
            id="filtersMenu"
            ngbDropdownToggle
          >
            <ng-icon name="matFilterList" /> FILTERS
          </button>
          <div ngbDropdownMenu aria-labelledby="filtersMenu">
            <div class="filterList">
              <select class="filterItem" [(ngModel)]="selectedColumn">
                <option value="" disabled selected hidden>
                  Select a column
                </option>
                <option value="id">ID</option>
                <option value="age">Age</option>
                <option value="phoneNumber">PhoneNumber</option>
                <option value="email">Email</option>
                <option value="city">City</option>
              </select>
              <input
                type="text"
                placeholder="Value"
                class="filterItem"
                [(ngModel)]="searchKey"
              />
              <button
                type="button"
                class="filterItem"
                (click)="filterRows(selectedColumn)"
              >
                Search
              </button>
              <button type="button" class="filterItem" (click)="resetFilter()">
                Reset
              </button>
            </div>
          </div>
        </div>
        <!-- <div class="filters" [matMenuTriggerFor]="filtersMenu">
          <ng-icon name="matFilterList" /> FILTERS
        </div>
        <mat-menu #filtersMenu="matMenu" >
          <div class="filterList" (click)="$event.stopPropagation()">
            <div class="filterItem1">
              <mat-form-field>
                <mat-label>Column</mat-label>
                <mat-select>
                  <mat-option value="ID">ID</mat-option>
                  <mat-option value="Age">Age</mat-option>
                  <mat-option value="PhoneNumber">PhoneNumber</mat-option>
                  <mat-option value="Email">Email</mat-option>
                  <mat-option value="City">City</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filterItem2">
              <span>Value</span>
            </div>
            <div class="filterItem3">
              <button>Search</button>
            </div>
          </div>
        </mat-menu> -->
        <div class="density" [matMenuTriggerFor]="densityMenu">
          <ng-icon name="matDensityMedium" /> DENSITY
        </div>
        <mat-menu #densityMenu="matMenu">
          <div class="densityList">
            <div class="densityItem" (click)="setRowPadding(10)">
              <ng-icon name="matDensitySmall" />Compact
            </div>
            <div class="densityItem" (click)="setRowPadding(20)">
              <ng-icon name="matDensityMedium" />Standard
            </div>
            <div class="densityItem" (click)="setRowPadding(40)">
              <ng-icon name="matDensityLarge" />Comfortable
            </div>
          </div>
        </mat-menu>
        <div class="export"><ng-icon name="matDownload" /> EXPORT</div>
      </div>
      <div class="tableHeader">
        <div class="w-[5%] check" [hidden]="true">
          @if(isOneBoxSelected){
          <ng-icon
            name="matIndeterminateCheckBox"
            class="customCheckbox"
            (click)="selectBox('', false, true)"
          />
          }@else if(isAllBoxesSelected){
          <ng-icon
            name="matCheckBox"
            class="customCheckbox"
            (click)="selectBox('', false, true)"
          />
          }@else {
          <ng-icon
            name="matCheckBoxOutlineBlank"
            class="customCheckbox"
            (click)="selectBox('', true, false)"
          />
          }
        </div>
        <div class="w-[5%] id" [hidden]="!isIDVisable">ID</div>
        <div class="w-[20%] name">Name</div>
        <div class="w-[5%] age" [hidden]="!isAgeVisable">Age</div>
        <div class="w-[10%] phoneNumber" [hidden]="!isPhoneNumberVisable">
          Phone number
        </div>
        <div class="w-[25%] email" [hidden]="!isEmailVisable">Email</div>
        <div class="w-[5%] city" [hidden]="!isCityVisable">City</div>
      </div>
      <div class="tableRow">
        @for (employee of dataForView; track $index) {
        <div class="row" [style.padding.px]="rowPadding">
          <div class="w-[5%] check" [hidden]="true">
            @if(selectedBoxes.includes(employee.id)){
            <ng-icon
              name="matCheckBox"
              class="customCheckbox"
              (click)="selectBox(employee.id)"
            />
            }@else{
            <ng-icon
              name="matCheckBoxOutlineBlank"
              class="customCheckbox"
              (click)="selectBox(employee.id)"
            />
            }
          </div>
          <div class="w-[5%] id" [hidden]="!isIDVisable">{{ employee.id }}</div>
          <div class="w-[20%] name">{{ employee.name }}</div>
          <div class="w-[5%] age" [hidden]="!isAgeVisable">
            {{ employee.age }}
          </div>
          <div class="w-[10%] phoneNumber" [hidden]="!isPhoneNumberVisable">
            {{ employee.phoneNumber }}
          </div>
          <div class="w-[25%] email" [hidden]="!isEmailVisable">
            {{ employee.email }}
          </div>
          <div class="w-[5%] city" [hidden]="!isCityVisable">
            {{ employee.city }}
          </div>
        </div>
        }
      </div>
      <div class="tableFooter">
        @if(selectedBoxes.length!=0){
        <div class="rowSelected">{{ selectedBoxes.length }} rows selected</div>
        }
        <div class="footerControls">
          <div class="title">Rows per page:</div>
          <div class="pages">
            <select
              [value]="dataPerPage"
              (change)="changePageSize($event)"
              class="selectList"
            >
              <option value="1">1</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
          <div class="pagesMap">
            {{ activePageNumber }}-{{ pageNumbers.length }} of
            {{ pageNumbers.length }}
          </div>
          <div class="arrows">
            <button (click)="previousPage()">
              <ng-icon name="matKeyboardArrowLeft" />
            </button>
            <button (click)="nextPage()">
              <ng-icon name="matKeyboardArrowRight" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</main>
