@tailwind base;
@tailwind components;
@tailwind utilities;

.lineChart-container1 {
  @apply flex justify-center items-center w-full h-full p-3;
}

.lineChart-container2 {
  @apply flex flex-col w-full h-full gap-5;
}

/* lineChart-section1 */
.lineChart-section1 {
  @apply flex justify-between items-end w-full;
}
.lineChart-section1 .title {
  @apply text-4xl font-bold;
}
.lineChart-section1 .msg {
  @apply flex flex-col gap-3;
}
.lineChart-section1 .welcome {
  @apply text-xs text-green1;
}
/* lineChart-section2 */
.lineChart-section2 {
  @apply flex flex-1 w-full h-full min-h-[500px];
}

::ng-deep ngx-charts-line-chart .x.axis text {
  fill: white;
}

::ng-deep ngx-charts-line-chart .y.axis text {
  fill: white;
}

::ng-deep ngx-charts-line-chart g.x.axis g.tick text {
  fill: #9ca3af; /* X-axis tick words (bottom numbers like years) */
  font-size: 12px;
}

::ng-deep ngx-charts-line-chart g.y.axis g.tick text {
  fill: #9ca3af; /* Y-axis tick words (side numbers like values) */
  font-size: 12px;
}

::ng-deep ngx-charts-line-chart text.x.axis-label,
::ng-deep ngx-charts-line-chart text.y.axis-label {
  fill: #3f51b5; /* Axis labels ("Year", "Sales", etc.) */
  font-weight: bold;
  font-size: 16px;
}

/* Make chart responsive */
:host ::ng-deep ngx-charts-line-chart {
  @apply w-full h-full;
}
