<main class="lineChart-container1">
  <main class="lineChart-container2">
    <section class="lineChart-section1">
      <div class="msg">
        <div class="title">Line Chart</div>
        <P class="welcome">Simple Line Chart</P>
      </div>
    </section>
    <div class="lineChart-section2">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="true"
        [legendTitle]="''"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="true"
        [results]="multi"
        [showGridLines]="true"
        [curve]="curve"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-line-chart>
    </div>
  </main>
</main>
