<div class="dashboard-section4">
  <div class="pieChart">
    <div class="head">Campaign</div>
    <div class="body"></div>
    <div class="footer">
        <div class="info1">
            $48,352 revenue generated
        </div>
        <div class="info2">
            Includes extrac misc expenditures and costs
        </div>
    </div>
  </div>
  <div class="barChart">
    <div class="head">Sales Quantity</div>
    <div class="body"></div>
  </div>
  <div class="geogChart">
    <div class="head">Geography Based Traffic</div>
    <div class="body"></div>
  </div>
</div>
