/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*
color design tokens 
#666666 gray
#141b2d primary dark blue
#6870fa light blue
#4cceac green
#db4f4a red
#23293c blue
*/
