<main class="pieChart-container1">
  <main class="pieChart-container2">
    <section class="pieChart-section1">
      <div class="msg">
        <div class="title">Pie Chart</div>
        <P class="welcome">Simple Pie Chart</P>
      </div>
    </section>
    <div class="pieChart-section2">
      <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="true"
        [legend]="true"
        [labels]="true"
        [doughnut]="true"
        [arcWidth]="0.55"
        [legendPosition]="legendPosition"
        [legendTitle]="''"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-pie-chart>
    </div>
  </main>
</main>
