@tailwind base;
@tailwind components;
@tailwind utilities;

.pieChart-container1 {
  @apply flex justify-center items-center w-full h-full p-3;
}

.pieChart-container2 {
  @apply flex flex-col w-full h-full gap-5;
}

/* pieChart-section1 */
.pieChart-section1 {
  @apply flex justify-between items-end w-full;
}
.pieChart-section1 .title {
  @apply text-4xl font-bold;
}
.pieChart-section1 .msg {
  @apply flex flex-col gap-3;
}
.pieChart-section1 .welcome {
  @apply text-xs text-green1;
}
/* pieChart-section2 */
.pieChart-section2 {
  @apply flex flex-1 w-full h-full min-h-[500px];
}

::ng-deep .pie-label {
  fill: #9ca3af; /* Replace with your desired label color */
  font-size: 14px;
  font-weight: bold;
}

::ng-deep ngx-charts-pie-chart g.pie-label text {
  fill: #9ca3af; /* Text inside the pie chart */
  font-size: 14px;
  font-weight: bold;
}

::ng-deep ngx-charts-pie-chart g.legend-label text {
  fill: #4caf50; /* Text in the legend */
  font-size: 14px;
}

/* Make chart responsive */
:host ::ng-deep ngx-charts-pie-chart {
  @apply w-full h-full;
}
